html {
  width: auto;
  height: auto;
  border: 1px solid black;
  margin: 20px;
}

.konten{}

.badan-kiri {
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}

.badan-kanan {
  height: auto;
  width: 100%;
  float: left;
}

.kiri {
  width: 300px;
  margin: 10px;
  border: 2px solid black;
  padding: 20px;
  font-weight: 900;
  color: black;
  font-family: arial;
  position: relative;
}

.kiri-lancip::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-bottom: 10px solid transparent;
  left: -22px;
  top: -2px;
}

.kanan {
  width: 300px;
  margin: 10px;
  border: 2px solid black;
  padding: 20px;
  font-weight: 900;
  color: white;
  background-color: black;
  font-family: arial;
  position: relative;
  justify-content: left;
  float: right;
}

.kanan-lancip::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid transparent;
  border-left: 10px solid black;
  border-bottom: 10px solid transparent;
  right: -22px;
  top: -2px;
}

/* penambahan code  */